<div id="footer" class="mb-5">
    
    {{ if (and (eq .Page.Section "posts") (eq .Page.Kind "page"))}}

        <script src="https://utteranc.es/client.js"
            repo="goodmattg/goodmattg.github.io"
            issue-term="pathname"
            label="blog"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>

    {{end}}

    {{ with .Site.Params.footer }}
        <hr>
        <div class="container text-center">
            <a href="{{ .url | absURL }}"><small>{{ .text }}</small></a>
        </div>
    {{ end }}

</div>
