---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: 'CMU';
  src: url('fonts/CMU/cmunrm.eot');
  src: url('fonts/CMU/cmunrm.eot?#iefix') format('embedded-opentype'),
       url('fonts/CMU/cmunrm.woff') format('woff'),
       url('fonts/CMU/cmunrm.ttf')  format('truetype'),
       url('fonts/CMU/cmunrm.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'CMU';
    src: url('fonts/CMU/cmunti.eot');
    src: url('fonts/CMU/cmunti.eot?#iefix') format('embedded-opentype'),
         url('fonts/CMU/cmunti.woff') format('woff'),
         url('fonts/CMU/cmunti.ttf')  format('truetype'),
         url('fonts/CMU/cmunti.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CMU';
    src: url('fonts/CMU/cmunbx.eot');
    src: url('fonts/CMU/cmunbx.eot?#iefix') format('embedded-opentype'),
         url('fonts/CMU/cmunbx.woff') format('woff'),
         url('fonts/CMU/cmunbx.ttf')  format('truetype'),
         url('fonts/CMU/cmunbx.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CMU';
    src: url('fonts/CMU/cmunbi.eot');
    src: url('fonts/CMU/cmunbi.eot?#iefix') format('embedded-opentype'),
         url('fonts/CMU/cmunbi.woff') format('woff'),
         url('fonts/CMU/cmunbi.ttf')  format('truetype'),
         url('fonts/CMU/cmunbi.svg#svgFontName') format('svg');
    font-weight: bold;
    font-style: italic;
}

$code-background: #f6f6f6;

.highlighter-rouge .highlight { background-color: $code-background; }
pre, code {
    background-color: $code-background;
    font-size: 12px;
}

.post-title {
    font-size: 48px;
}

h2.footer-heading {
    font-family: 'CMU','Droid Serif', serif;
    letter-spacing: 0px;
}

h1 {
    font-family: 'CMU', 'Lora', serif;
}

h2 {
    font-family: 'CMU', 'Lora', serif;
    font-weight: bold;
    letter-spacing: 0px;
}
h3 {
    font-family: 'CMU', 'Lora', serif;
    font-weight: bold;
    letter-spacing: 0px;
}

body {
    font-family: 'CMU','Droid Serif', serif;
}

// Color scheme for Rouge
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #586e75;
}
.highlight .err {
  color: #002b36;
  background-color: #dc322f;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #657b83;
}
.highlight .cp {
  color: #b58900;
}
.highlight .nt {
  color: #b58900;
}
.highlight .o, .highlight .ow {
  color: #93a1a1;
}
.highlight .p, .highlight .pi {
  color: #93a1a1;
}
.highlight .gi {
  color: #859900;
}
.highlight .gd {
  color: #dc322f;
}
.highlight .gh {
  color: #268bd2;
  background-color: #002b36;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kt {
  color: #cb4b16;
}
.highlight .kd {
  color: #cb4b16;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #859900;
}
.highlight .sr {
  color: #2aa198;
}
.highlight .si {
  color: #d33682;
}
.highlight .se {
  color: #d33682;
}
.highlight .nn {
  color: #b58900;
}
.highlight .nc {
  color: #b58900;
}
.highlight .no {
  color: #b58900;
}
.highlight .na {
  color: #268bd2;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #859900;
}
.highlight .ss {
  color: #859900;
}
